@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Heebo', sans-serif;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#e4f4fd));
  background: linear-gradient(90deg, white 0%, #e4f4fd 100%);
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10rem;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #34A853;
  font-weight: 600;
  margin: auto 4rem;
}

header .logo img {
  padding-left: 3rem;
  padding-right: 1rem;
  height: auto;
  width: 50%;
}

button {
  font-family: 'Heebo', sans-serif;
}

button:focus {
  outline: none;
}

.btn-transparent {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 3rem;
  padding: 1.4rem 3rem;
}

.btn-green {
  margin-right: 6rem;
  padding: 1.4rem 3rem;
  background: #34A853;
  border: none;
  border-radius: 3rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.btn-green:hover {
  background-color: #1c7534;
}

.btn-more {
  margin-right: 6rem;
  padding: 1.4rem 3rem;
  background: none;
  border: 4px solid #fb7a1d;
  border-radius: 3rem;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.btn-more:hover {
  border: 4px solid green;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: start;
  justify-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero .left h1 {
  min-width: 100%;
  height: auto;
  font-size: calc(4rem + 1vw);
  margin-bottom: 2rem;
}

.hero .left h1 span {
  color: #34A853;
}

.hero .left p {
  font-size: calc(1rem + 1vw);
  color: #7c7c7c;
  font-weight: 200;
  margin: 2rem 0rem;
}

.hero .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

.hero .right svg {
  height: auto;
  width: 110%;
}

.jtc {
  margin: 2rem auto;
  width: 90%;
  height: 50vh;
}

.jtc .text-jtc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jtc .text-jtc h2 {
  font-size: 4rem;
}

.jtc .text-jtc p {
  font-size: 2.5rem;
  color: #7c7c7c;
  text-align: center;
}

.jtc .cards {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jtc .cards .box {
  width: 45rem;
  height: 30rem;
  margin: 0 auto;
}

.jtc .cards .box img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.jtc .cards .box h3 {
  text-align: center;
  font-size: 3rem;
}

.jtc .cards .box p {
  font-size: 2rem;
  text-align: center;
  color: #7c7c7c;
}

#nor1 {
  animation: norisor1 5s ease infinite alternate-reverse;
  fill: #eceaea;
  stroke: none;
}

#nor2 {
  -webkit-animation: norisor2 4s ease infinite alternate;
          animation: norisor2 4s ease infinite alternate;
  fill: #a5a2a2;
  stroke: none;
}

#nor3 {
  -webkit-animation: norisor3 6s infinite alternate;
          animation: norisor3 6s infinite alternate;
  fill: #f0eeee;
  stroke: none;
}

@-webkit-keyframes norisor1 {
  from {
    -webkit-transform: translate(-20%, -15%);
            transform: translate(-20%, -15%);
  }
  to {
    -webkit-transform: translate(-32%, -15%);
            transform: translate(-32%, -15%);
  }
}

@keyframes norisor1 {
  from {
    -webkit-transform: translate(-20%, -15%);
            transform: translate(-20%, -15%);
  }
  to {
    -webkit-transform: translate(-32%, -15%);
            transform: translate(-32%, -15%);
  }
}

@-webkit-keyframes norisor2 {
  from {
    -webkit-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
  }
  to {
    -webkit-transform: translate(-43%, -25%);
            transform: translate(-43%, -25%);
  }
}

@keyframes norisor2 {
  from {
    -webkit-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
  }
  to {
    -webkit-transform: translate(-43%, -25%);
            transform: translate(-43%, -25%);
  }
}

@-webkit-keyframes norisor3 {
  from {
    -webkit-transform: translate(-50%, -14%);
            transform: translate(-50%, -14%);
  }
  to {
    -webkit-transform: translate(-56%, -10%);
            transform: translate(-56%, -10%);
  }
}

@keyframes norisor3 {
  from {
    -webkit-transform: translate(-50%, -14%);
            transform: translate(-50%, -14%);
  }
  to {
    -webkit-transform: translate(-56%, -10%);
            transform: translate(-56%, -10%);
  }
}
/*# sourceMappingURL=main.css.map */